@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Bold.woff2') format('woff2'), 
      url('../fonts/Circe-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Regular.woff2') format('woff2'), 
      url('../fonts/Circe-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Light.woff2') format('woff2'), 
      url('../fonts/Circe-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'), 
      url('../fonts/RobotoSlab-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}