@media (max-width: 1199px) {
  .main {
    &__color {
      max-width: 700px; 
    }    
    &__girl {
      right: 7%;
    }
    &__content {
      width: 70%;
    }
  }
  .order-consultation {
    padding-bottom: 70px;
    &__img {
      bottom: -70px;
    }
  }
  .form-order__input {
    width: 220px;
  }

  .tabs {
    &__btn {
      width: 330px;
    }
    &__content {
      grid-template-columns: repeat(3, 330px);
      grid-auto-columns: repeat(3, 330px);
    }
  }
} 

@media (max-width: 1050px) {
  .tabs {
    &__btn {
      width: 300px;
    }
    &__content {
      justify-content: space-around;
      grid-template-columns: repeat(2, 370px);
      grid-auto-columns: repeat(2, 370px);
    }
  }
}

@media (max-width: 991px) {
  .main {
    padding-top: 70px;
    &__girl {
      right: -15%;
    }
    &__content {
      width: 100%;
    }
    &__title {
      margin-bottom: 20px;
      text-align: center;
    }
    &__subtitle {
      margin-bottom: 50px;
    }
    &__list {
      width: 80%;
    }
  }

  .order-consultation {
    padding: 70px 0 50px 0;
    &__form {
      margin: 0 0 0 auto;
    }
    &__img {
      bottom: -50px;
    }
  }
  .form-order {    
    width: 60%;
    &__title, &__subtitle, &__separator, &__text {
      margin-bottom: 20px;
    }
    &__field {
      margin-bottom: 25px;
    }
    &__field {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__input {
      margin-bottom: 15px;
      margin-right: 10px;
      display: block;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .vouchers {
    padding: 50px 0;
    &__title, &__subtitle {
      margin-bottom: 30px;
    }
  }
  .tabs {
    &__btn {
      padding: 5px 0 8px 0;
      width: 270px;
    }
  }
}

@media (max-width: 850px) {
  .form-order__input {
    width: 60%;
  }  

  .tabs {
    &__mobile {
      display: block;
    }
    &__buttons {
      display: none;
    } 
    &__content {
      justify-content: space-around;
      grid-template-columns: repeat(2, 350px);
      grid-auto-columns: repeat(2, 350px);
      grid-row-gap: 20px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    margin: 10px 0;
    &__phones {
      display: none;
    }
    &__callback {
      display: none;
    }
  }
  .main {
    padding-top: 35px;
    &__girl {
      right: -20%;
    }
    &__title {
      font-size: 50px;
    }
    &__subtitle {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 30px;
    }
  }
  .list-main{
    &__item {
      column-gap: 20px;
      row-gap: 10px;
    }
    &__title {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .btn-burger {
    display: block;
  }
  .order-consultation {
    &__img {
      display: none;
    }
  }
  .form-order {
    width: 100%;
    &__input {
      width: 40%;
    }
  }
  .tabs {    
    &__content {
      justify-content: space-around;
      grid-template-columns: repeat(1, 370px);
      grid-auto-columns: repeat(1, 370px);      
    }
  }
}

@media (max-width: 575px) {
  .header {
    &__logo {
      margin-right: 10px;
    }
    &__menu {
      right: 15px;
      width: 40px;
      height: 40px;
    }
  }
  .main {
    padding-bottom: 50px;
    background-image: none;
    background-color: $background_page;
    &__girl, &__color {
      display: none;
    }
    &__list {
      width: 100%;
    }
    &__title {
      font-size: 36px;
      line-height: 42px;
    }
    &__subtitle {
      text-align: center;
    }
  }
  .form-order {
    &__title {
      font-size: 24px;
    }
    &__subtitle, &__phones__link {
      font-size: 18px;
    }
    &__text, &__note {
      font-size: 14px;
    }
    &__input {
      padding: 10px 15px 10px 45px;
      background-position: 10% center;
      width: 60%;
    }
  }
  .tabs__mobile {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .list-main {    
    &__item {
      &__img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;        
      } 
      &__title {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;        
      }
      &__text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;        
      }
    }
  }
  .tabs {
    &__content {
      justify-content: space-around;
      grid-template-columns: repeat(1, 320px);
      grid-auto-columns: repeat(1, 320px);
    }
  }  
}

@media (max-width: 319px) {
  body {
    overflow-y: scroll;
  }
}