@media (max-width: 1199px) {
  .main {
    background-position: 40% 30%;
    &__content {
      width: 70%;
    }
  }
} 

@media (max-width: 991px) {
  .main {
    padding-top: 70px;
    &__content {
      width: 100%;
    }
    &__title {
      margin-bottom: 20px;
      text-align: center;
    }
    &__subtitle {
      margin-bottom: 50px;
    }
    &__list {
      width: 80%;
    }
  }
}

@media (max-width: 767px) {
  .header {
    margin: 10px 0;
    &__phones {
      display: none;
    }
    &__callback {
      display: none;
    }
  }

  .main {
    padding-top: 35px;
    &__title {
      font-size: 50px;
    }
    &__subtitle {
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  .list-main{
    &__item {
      column-gap: 20px;
      row-gap: 10px;
    }
    &__title {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .btn-burger {
    display: block;
  }
}

@media (max-width: 575px) {
  .header {
    &__logo {
      margin-right: 10px;
    }
    &__menu {
      right: 15px;
      width: 40px;
      height: 40px;
    }
  }

  .main {
    padding-bottom: 50px;
    background-image: none;
    background-color: $background_page;
    &__list {
      width: 100%;
    }
    &__title {
      font-size: 36px;
      line-height: 42px;
    }
    &__subtitle {
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .list-main {    
    &__item {
      &__img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;        
      } 
      &__title {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;        
      }
      &__text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;        
      }
    }
  }
}

@media (max-width: 319px) {
  body {
    overflow-y: scroll;
  }
}