@import './_swiper.scss';

.offer {
  padding: 100px 0;
  background-image: linear-gradient( -59deg, rgb(216,240,240) 0%, rgb(253,253,224) 100%);
  &__title {
    margin-bottom: 30px;
  }
  &__subtitle {
    margin-bottom: 70px;
    line-height: 41px;
  }
  &__slider {
    margin-bottom: 70px;
  }
  &__advantages {
    margin-bottom: 70px;
  }
  &-form {
    position: relative;
    padding: 60px 150px;
    width: 100%;
    background: #FFF;
    overflow: hidden;
    border: 10px solid $light_blue;
    &__background {
      bottom: -10px;
      right: -30px;
      position: absolute;
      z-index: 1;
    }
    &__subtitle, &__field, &__text, &__note {
      position: relative;
      z-index: 5;
    }
    &__subtitle {
      margin-bottom: 30px;
    }
    &__text {
      margin-bottom: 40px;
    }
  }
}

.swiper {
  &-container {
    width: 100%;
  }  
  &-wrapper {
    width: 100%;
    height: 200px; 
  }
  &-slide {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-button {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, .5 );
    border: none;
    outline: none;
    &-prev {
      left: 20px;
    }
    &-next {
      right: 20px;
      &::after {
        transform: rotate(180deg);
      }
    }
    &::after {
      content: '';
      width: 9px;
      height: 18px;
      background-image: url('../images/icons/arrow-left.png');
    }
  }
}

.advantages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  &__item {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
    max-width: 330px;
  }
  &__img {
    margin-right: 30px;
    width: 70px;
  }
}
