.vouchers {
  padding: 100px 0;
  &__title {
    margin-bottom: 50px;
  }
  &__subtitle {
    margin-bottom: 70px;
  }
}

.tabs {
  &__buttons {
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid $accent_color;
  }
  &__mobile {
    display: none;
    & .tabs__mobile{
      display: none;
    }
  }

  &__btn {
    display: block;
    padding: 10px 0 18px 0;
    width: 370px;
    background-color: $light_blue;
    color: $text_page;
    text-align: center; 
    border-radius: 20px 20px 0 0;
    @include animation;
    &_active {
      background-color: $accent_color;
      color: $text_btn;
    }
  }
  &__content {    
    padding-top: 40px;
    display: none;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: minmax(420px, auto);
    grid-auto-columns: repeat(3, 370px);
    grid-auto-rows: minmax(420px, auto);
    justify-content: space-between;
    grid-row-gap: 30px;
    &_active {
      display: grid;
    }
  }  
}

.camp {
  position: relative;
  padding: 14px 12px;
  border: 2px solid $light_blue;
  @include animation;
  &__images {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    height: 245px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__effects {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,30,40,1) 0%, rgba(0,30,40,0) 100%);
    z-index: 5;
  }  
  &:hover, &:active {
    border-color: $accent_color;
    .camp__more::after {
      height: 16px;
    }
  }
  &__location {
    position: absolute;
    padding: 0 25px;
    width: 60%;
    height: auto;
    left: 10px;
    top: 205px;
    color: $text_btn;
    font-size: 13px;
    z-index: 10;
    &::before {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      top: 1px;
      width: 16px;
      height: 20px;
      background-image: url("../images/icons/location.png");
    }
  }
  &__age {
    position: absolute;
    padding: 0 10px 0 25px;
    width: 40%;
    right: 0;
    top: 205px;
    color: $text_btn;
    font-size: 13px;
    z-index: 10;
    &::before {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      top: 1px;
      width: 20px;
      height: 20px;
      background-image: url("../images/icons/user.png");
    }
  }
  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: $text_page;
  }
  &__description {
    margin-bottom: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: $text_page;
  }
  &__more {
    position: absolute;
    left: 50%;
    bottom: 23px;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 700;
    color: $text_page;
    z-index: 20;
    &::after {
      position: absolute;
      display: block;
      content: "";
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 5px;
      background: $accent_color;
      z-index: -1;
      @include animation;      
    }
  }
}

.jq-selectbox {
  position: relative;
  width: 100%;
  height: 30px;
  z-index: 130;
  &__select {
    position: relative;
    padding: 5px 15px;
    border: 2px solid $light_blue;
    &-text {
      padding-left: 25px;
    }
  }
  &__dropdown {
    position: absolute;
    width: 100%;
    background-color: $light_blue;
    & .selected {
      background-color: $accent_color;
    }
    & li {
      padding: 5px 15px;
    }
  }
  &__trigger {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    transform: rotate(180deg);
    @include animation;
    &-arrow {
      width: 100%;
      height: 100%;
      background-image: url("../images/icons/icon-arrow.png");
      background-size: cover;
      background-position: center;
    }
  }
  &.opened &__trigger {
    transform: rotate(0);
  }
}